html {
    scroll-behavior: smooth
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}


button {
    border: 0 none;
    background-color: transparent;
    cursor: pointer;
}

/* 여백 초기회*/
body,
div,
dl,
dd,
dt,
ul,
li,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
legend,
textarea,
select,
fieldset,
p,
button {
    margin: 0;
    padding: 0;
}

/* 폰트 초기화 */
body,
input,
textarea,
select,
table {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-size: 16px;
    line-height: 1.5;
}

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

/* 제목 스타일 초기화 */
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.4;
}

h1 {
    line-height: 1.4;
}

.wrap {
    width: 100%;
}

.cbg-blue {
    background-image: linear-gradient(140deg, rgb(5, 103, 250), rgb(197, 97, 255));
    width: 100%;
    height: auto;

}

.cbg-white {
    background-color: #fff;
    width: 100%;
    height: auto;
}

.cbg-softblue {
    background-color: rgba(5, 103, 250, 0.05);
    width: 100%;
    height: auto;
}

.cbg-oblue {
    background-color: #0567fa;
    width: 100%;
    height: auto;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.header_inner {
    width: 100%;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.container_inner {
    margin: 0 20px;
}

.logo {
    height: 14px;
}

.nav_btn {
    color: #fff;
    border-style: solid;
    border-color: #fff;
    border-width: 1.4px;
    padding: 5px 20px;
    border-radius: 6px;
    margin-right: 40px;
    transition: 0.4s;
    transition-property: background-color;
}

.nav_btn:hover {
    background-color: #fff;
    color: #6c59fc;
}

.title_1_left {
    justify-content: left;
}

.title_1 {
    overflow: hidden;
    height: 100vh;
    min-height: 640px;
    display: flex;
    justify-content: space-between;
    margin-top: -60px;
}

.title_1_flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.img_main_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.img_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 360px;
    height: 562px;
}

#typing {
    color: #fff;
    font-size: 60px;
    font-weight: 900;
    line-height: 1.4;
}

.title_1 h1 {
    font-size: 60px;
    font-weight: 900;
    line-height: 1.4;
    color: #fff;
}

.opc h1 {
    color: rgb(255, 255, 255, 0.7);
}

.title_btn {
    font-size: 18px;
    font-weight: 700;
    margin-top: 30px;
    width: 220px;
    height: 60px;
    border-radius: 14px;
    border-style: none;
    color: #0567fa;
    background-color: #fff;
    cursor: pointer;
    text-decoration: none;
    transition: 0.4s;
    transition-property: background-color;
    box-shadow: 0 0 10px 1px rgba(73, 56, 56, 0.1);
}

.title_btn:hover {
    background-color: rgb(255, 255, 255, 0.7);
}

.anchor-box {
    width: 100%;
    display: block;
    text-align: center;
}

.anchor {
    width: 36px;
}

.title_2,
.title_4,
.title_5,
.title_6,
.title_7,
.title_8,
.title_9,
.titlte_10 {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
    min-height: 640px;
}

.title_3 {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    min-height: 640px;
}

.flex-container {
    width: 100%;
}

.flex-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title_2 h1 {
    font-size: 42px;
    margin-bottom: 60px;
}

.circle-container {
    display: flex;
}

.circle-box {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.function-box {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0567fa;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin-bottom: 30px;
    transition: 0.2s;
    transition-property: width height;
}

.circle:hover {
    width: 160px;
    height: 160px;
}

.circle h2 {
    color: #fff;
    font-size: 64px;
}

i {
    color: #fff;
    font-size: 64px;
}

.circle-box h2 {
    margin-bottom: 4px;
}

.circle-box p {
    color: #7a7a7a;
}

.title_3 h1 {
    font-size: 42px;
    margin-bottom: 20px;
}

.title_3 p {
    font-size: 20px;
    color: #7a7a7a;
}

.img-tt3-1-box {
    background-color: #0567fa;
    border-radius: 30px;
    width: 60%;
}

.img-tt3-1 {
    width: 90%;
    margin: 30px 0 0 38px;
}

.title_4 h1 {
    color: #0567fa;
    font-size: 70px;
}

.function-container {
    display: flex;
    justify-content: space-between;
}

.img-tt4-1,
.img-tt4-3 {
    padding-left: 100px;
}

.img-tt4-2,
.img-tt4-4 {
    padding-right: 100px;
}

.function-disc-1,
.function-disc-3 {
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding-right: 200px;
}

.function-disc-2,
.function-disc-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding-left: 200px;
}

.function-disc-left {
    text-align: left;
}

.function-disc h3 {
    color: #4a4a4a;
    text-align: left;
}

.function-disc h1 {
    color: #0567fa;
    font-size: 48px;
}

.function-disc p {
    margin-top: 10px;
    color: #7a7a7a;
    font-size: 20px;
}