html {
    scroll-behavior: smooth
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}


button {
    border: 0 none;
    background-color: transparent;
    cursor: pointer;
}

/* 여백 초기회*/
body,
div,
dl,
dd,
dt,
ul,
li,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
legend,
textarea,
select,
fieldset,
p,
button {
    margin: 0;
    padding: 0;
}

/* 폰트 초기화 */
body,
input,
textarea,
select,
table {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-size: 16px;
    line-height: 1.5;
}

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

/* 제목 스타일 초기화 */
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.4;
}

h1 {
    line-height: 1.4;
}

.wrap {
    width: 100%;
}

.regist-box {
    position: fixed;
    bottom: 60px;
    right: 20px;
    z-index: 999;
}

.regist {
    padding: 18px 30px;
    background-color: #0567fa;
    color: #fff;
    font-weight: 700;
    border-radius: 14px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 0 20px 1px rgba(5, 103, 250, 0.2);
    z-index: 999;
}

.modal_1 {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.modal_bg {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal_box {
  width: 400px;
  height: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 24px;
  text-align: center;
}

.modal_box p {
  color: #7a7a7a;
}

.exmbtn {
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  height: 60px;
  border-radius: 14px;
  border-style: none;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  margin-top: 20px;
  transition: 0.4s;
  transition-property: background-color;
  box-shadow: 0 0 10px 1px rgba(73, 56, 56, 0.1);
}

.btn-pt {
  background-color: #4A00E0;
}

.btn-pt:hover {
  background-color: #8E2DE2;
}

.btn-yoga {
  background-color: #D66D75;
}

.btn-yoga:hover {
  background-color: #E29587;
}

.btn-pila {
  background-color: #A770EF;
}

.btn-pila:hover {
  background-color: #FDB99B;
}

.modal_btn_1 {
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  height: 60px;
  border-radius: 14px;
  border-style: solid;
  border-width: 1px;
  border-color: #0567fa;
  color: #0567fa;
  background-color: #fff;
  cursor: pointer;
  text-decoration: none;
  margin-top: 30px;
  transition: 0.4s;
  transition-property: color border-color;
  box-shadow: 0 0 10px 1px rgba(73, 56, 56, 0.1);
}

.modal_btn_1:hover {
  color: #0652c4;
  border-color: #0652c4;
}

.m_modal_btn {
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  height: 60px;
  border-radius: 14px;
  border-style: none;
  color: #fff;
  margin-top: 30px;
  background-image: linear-gradient(90deg, #f64f59, #c471ed, #12c2e9);
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 0 10px 1px rgba(73, 56, 56, 0.1);
}

.cbg-blue {
    background-image: linear-gradient(140deg, rgb(5, 103, 250), rgb(197, 97, 255));
    width: 100%;
    height: auto;
}

.cbg-white {
    background-color: #fff;
    width: 100%;
    height: auto;
}

.cbg-softblue {
    background-color: rgba(5, 103, 250, 0.05);
    width: 100%;
    height: auto;
}

.cbg-oblue {
    background-color: #0567fa;
    width: 100%;
    height: auto;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.header_inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    z-index: 999;
}

.container_inner {
    margin: 0 20px;
}

.logo {
    height: 20px;
    padding-left: 20px;
}

.nav_btn {
    display: none;
    color: #fff;
    border-style: solid;
    border-color: #fff;
    border-width: 1.4px;
    padding: 5px 20px;
    border-radius: 6px;
    margin-right: 40px;
    transition: 0.4s;
    transition-property: background-color;
    z-index: 999;
}

.nav_btn:hover {
    background-color: #fff;
    color: #6c59fc;
}

.title_1_left {
    justify-content: left;
}

.title_1 {
    overflow: hidden;
    height: 100vh;
    min-height: 640px;
    display: flex;
    justify-content: space-between;
    margin-top: -60px;
}

.title_1_flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.img_main_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 360px;
    height: 562px;
    image-rendering: -webkit-optimize-contrast;
    transform: translateZ(0);
    backface-visibility: hidden;
}

#typing {
    color: #fff;
    font-size: 60px;
    font-weight: 900;
    line-height: 1.4;
}

.title_1 h1 {
    font-size: 60px;
    font-weight: 900;
    line-height: 1.4;
    color: #fff;
}

.opc h1 {
    color: rgb(255, 255, 255, 0.7);
}

.title_btn {
    font-size: 18px;
    font-weight: 700;
    margin-top: 30px;
    width: 220px;
    height: 60px;
    border-radius: 14px;
    border-style: none;
    color: #0567fa;
    background-color: #fff;
    cursor: pointer;
    text-decoration: none;
    transition: 0.4s;
    transition-property: background-color;
    box-shadow: 0 0 10px 1px rgba(73, 56, 56, 0.1);
}

.title_btn:hover {
    background-color: rgb(255, 255, 255, 0.7);
}

.anchor-box {
    width: 100%;
    display: block;
    text-align: center;
}

.anchor {
    width: 36px;
}

.title_2,
.title_4,
.title_5,
.title_6,
.title_7,
.title_8,
.title_9,
.title_10,
.title_11,
.title_12,
.title_13,
.title_14,
.title_15,
.title_16 {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
    min-height: 640px;
}

.title_3 {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    min-height: 640px;
}

.flex-container {
    width: 100%;
}

.flex-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-box_tt3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-center {
    text-align: center;
}

.title_2 h1 {
    font-size: 42px;
    margin-bottom: 60px;
}

.circle-container {
    display: flex;
}

.circle-box {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0567fa;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin-bottom: 30px;
    transition: 0.2s;
    transition-property: width height;
}

.circle:hover {
    width: 160px;
    height: 160px;
}

.circle h2 {
    color: #fff;
    font-size: 64px;
}

i {
    color: #fff;
    font-size: 64px;
}

.circle-box h2 {
    margin-bottom: 4px;
}

.circle-box p {
    color: #7a7a7a;
}

.title_3 h1 {
    color: #0567fa;
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 20px;
}

.title_3 h2 {
    color: #4a4a4a;
    font-size: 22px;
    margin-top: 60px;
}

.title_3 p {
    font-size: 40px;
    color: #7a7a7a;
    margin-top: 40px;
    line-height: 1.4;
}

.img-tt3-1-box {
    background-color: #0567fa;
    border-radius: 30px;
    width: 60%;
}

.img-tt3-1 {
    width: 90%;
    margin: 30px 0 0 38px;
}

.title_4 h1,
.title_9 h1,
.title_11 h1 {
    color: #0567fa;
    font-size: 70px;
}

.function-container {
    display: flex;
    justify-content: space-between;
}

.img-tt4-1,
.img-tt4-3 {
    padding-left: 100px;
    image-rendering: -webkit-optimize-contrast;
    transform: translateZ(0);
    backface-visibility: hidden;
}

.img-tt4-2,
.img-tt4-4 {
    padding-right: 100px;
    image-rendering: -webkit-optimize-contrast;
    transform: translateZ(0);
    backface-visibility: hidden;
}

.function-disc-1,
.function-disc-3 {
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding-right: 200px;
}

.function-disc-2,
.function-disc-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding-left: 200px;
}

.function-disc-left {
    text-align: left;
}

.function-disc h3 {
    color: #4a4a4a;
    text-align: left;
}

.function-disc h1 {
    color: #0567fa;
    font-size: 48px;
}

.function-disc p {
    margin-top: 10px;
    color: #7a7a7a;
    font-size: 20px;
}

.tt-10-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 122px;
}

.tt-10-text {
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: center;
}

@keyframes colorchange {
    from{background-color:#c471ed;}
    20%{background-color: #8360c3;}
    40%{background-color: #eecda3;}
    60%{background-color: #43cea2;}
    80%{background-color: #ff9472;}
    100%{background-color:#c471ed;}
}

@keyframes textchange {
    from{color:#c471ed;}
    20%{color: #8360c3;}
    40%{color: #eecda3;}
    60%{color: #43cea2;}
    80%{color: #ff9472;}
    100%{color:#c471ed;}
}

.color-change {
    width: 222px;
    height: 446px;

    margin-top: 60px;
    border-radius: 30px;
    animation-name: colorchange;
    animation-duration: 11s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
    animation-fill-mode: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#typing2 {
    color: #fff;
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 30px;
}

.btn-tt-10 {
    width: 80%;
    font-size: 14px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #fff;
    animation-name: textchange;
    animation-duration: 11s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
    animation-fill-mode: none;
    box-shadow: 0 0 10px 1px rgba(73, 56, 56, 0.1);
}

.img-template {
    margin-top: -503px;

    width: 360px;
    height: 562px;
}

.td {
    margin-top: 10px;
    animation-name: textchange;
    animation-duration: 11s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
    animation-fill-mode: none;
}

.editor {
    width: 222px;
    height: 446px;
    background-color: #1a1a1a;

    margin-top: 60px;
    border-radius: 30px;
    text-align: left;
}

.p1, .p2 {
    color: #747474;
}

.p1 {
    padding: 60px 0 0 20px;
}

.p2 {
    margin-left: 20px;
}

#typing3 {
    color: #fff;
    font-weight: 900;
    margin-left: 60px;
}

.rotate-box {
    width: 100%;
    text-align: center;
    margin-top: 80px;
}

@keyframes rotateimg {
    from{transform: rotate(0deg);}
    50%{transform: rotate(180deg);}
    100%{transform: rotate(360deg);}
}

#rotate-img {
    animation-name: rotateimg;
    font-size: 90px;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
    animation-fill-mode: none;
}